$black: #14110f;
$white: #f3f3f4;

// beige
$primary: #d9c5b2;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 20%);

// blue
$secondary: #456187;
$secondary-light: #cad4e3;

// fonts
$font-family: Roboto, Helvetica, Arial, sans-serif;
