// colors
$black: #2c2a30;
$white: #fbfbfb;

$primary: #b3a9c6;
$primary-lighter: lighten($primary, 10%);
$primary-lightest: lighten($primary, 20%);

$highlight: #ac91e2;
$secondary: #e3d9f7;

// fonts
$font-family: Roboto, Helvetica, Arial, sans-serif;
